.row.ktdb-nho {
margin:20px 0;
flex:1 1 auto;
min-height:1px;
padding:1.25rem;
border:1px solid #000;
border-radius:10px;
box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important
}

label {
display:inline-block;
margin-bottom:.5rem
}

button.btn.btn-primary.btn-lg.btn-block {
padding:10px;
color:#fff;
background-color:#1a7ef6;
width:100%;
border-radius:5px;
font-size:15px;
font-weight:700;
margin:15px 0
}

button#button-copy {
color:#fff;
background:#1a7ef6;
display:inline-block;
padding:11px;
font-size:15px;
border-radius:5px;
margin-left:10px;
font-weight:700
}

.mb-12 .form-control {
display:block;
width:100%;
padding:10px;
font-size:16px;
font-weight:400;
line-height:normal;
color:#495057;
background-color:#fff;
background-clip:padding-box;
border:1px solid #ced4da;
border-radius:.25rem;
transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-group {
position:relative;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-ms-flex-align:stretch;
align-items:stretch;
width:100%
}

.input-group.mb-3 {
position:relative;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-ms-flex-align:stretch;
align-items:stretch;
width:100%
}

input.form-control.input-text {
flex:1 1 0;
border-top-right-radius:0;
border-bottom-right-radius:0
}

input.form-control {
flex:1 1 0;
border-top-right-radius:0;
border-bottom-right-radius:0
}
